In [1]:
import pandas as pd
import numpy as np

In [2]:
audi = pd.read_csv('D:\\vishal data\\csv file\\audi.csv')

In [3]:
audi

      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0        A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1        A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2        A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3        A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4        A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0
...     ...   ...    ...          ...      ...      ...  ...   ...         ...
10663    A3  2020  16999       Manual     4018   Petrol  145  49.6         1.0
10664    A3  2020  16999       Manual     1978   Petrol  150  49.6         1.0
10665    A3  2020  17199       Manual      609   Petrol  150  49.6         1.0
10666    Q3  2017  19499    Automatic     8646   Petrol  150  47.9         1.4
10667    Q3  2016  15999       Manual    11855   Petrol  150  47.9         1.4

[10668 rows x 9 columns]

In [4]:
a1 = audi['transmission']
a1

0           Manual
1        Automatic
2           Manual
3        Automatic
4           Manual
           ...
10663       Manual
10664       Manual
10665       Manual
10666    Automatic
10667       Manual
Name: transmission, Length: 10668, dtype: object

In [5]:
audi['transmission'].nunique()

3

In [6]:
audi['year'].nunique()

21

In [7]:
audi['price'].nunique()

3260

In [8]:
audi[['year','price']]

       year  price
0      2017  12500
1      2016  16500
2      2016  11000
3      2017  16800
4      2019  17300
...     ...    ...
10663  2020  16999
10664  2020  16999
10665  2020  17199
10666  2017  19499
10667  2016  15999

[10668 rows x 2 columns]

In [9]:
a2 = audi['tax']
a3 = audi['price']

In [10]:
a2 + a3

0        12650
1        16520
2        11030
3        16945
4        17445
         ...
10663    17144
10664    17149
10665    17349
10666    19649
10667    16149
Length: 10668, dtype: int64

In [11]:
audi['price'].min()

1490

In [12]:
audi['price'].max()

145000

In [13]:
audi['price'].count()

10668

In [14]:
audi['price'].std()

11714.841888432

In [15]:
audi['price'].var()

137237520.470961

In [16]:
audi['price'].mean()

22896.685039370077

In [17]:
audi['price'].median()

20200.0

In [18]:
audi['price'].mode()

0    19995
Name: price, dtype: int64