In [1]:
import numpy as np
import pandas as pd

In [2]:
# create a dataframe from a dictionary
d1 = {'a' : [10, 30, 50, 70], 'b' : [20, 40, 60, 80], 'c' : [10, 20, 40, 50]}

df1 = pd.DataFrame(d1)
df1

    a   b   c
0  10  20  10
1  30  40  20
2  50  60  40
3  70  80  50

In [3]:
# create a dataframe from a dictionary which has the index labels.
d2 = {'a' : [10, 40, 50, 70], 'b' : [20, 30, 10, 80], 'c' : [10, 20, 80, 50]}

label = ['w', 'x', 'y', 'z']
df2 = pd.DataFrame(d2, index = label)
df2

    a   b   c
w  10  20  10
x  40  30  20
y  50  10  80
z  70  80  50

In [4]:
# basic information about a specified DataFrame and its data.
d3 = {'a' : [10, 40, 50, 70], 'b' : [20, 30, 10, 80], 'c' : [10, 20, 80, 50]}

label = ['w', 'x', 'y', 'z']
df3 = pd.DataFrame(d3, index = label)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, w to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int64
 1   b       4 non-null      int64
 2   c       4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [5]:
# get the first 3 rows of a given DataFrame.
d4 = {'a' : [10, 40, 50, 70], 'b' : [20, 30, 10, 80], 'c' : [10, 20, 80, 50]}

label = ['w', 'x', 'y', 'z']
df4 = pd.DataFrame(d4, index = label)
print(df4)
print(df4.head(3))
print(df4.iloc[:3])

    a   b   c
w  10  20  10
x  40  30  20
y  50  10  80
z  70  80  50
    a   b   c
w  10  20  10
x  40  30  20
y  50  10  80
    a   b   c
w  10  20  10
x  40  30  20
y  50  10  80

In [6]:
# select the a and b columns from the following DataFrame.
d5 = {'a' : [10, 40, 50, 70], 'b' : [20, 30, 10, 80], 'c' : [10, 20, 80, 50]}

label = ['w', 'x', 'y', 'z']
df5 = pd.DataFrame(d5, index = label)
print(df5[['a', 'b']])

    a   b
w  10  20
x  40  30
y  50  10
z  70  80

In [8]:
# select the specified columns and rows from a given data frame.
d6 = {'a' : [10, 40, 50, 70], 'b' : [20, 30, 10, 80], 'c' : [10, 20, 80, 50]}

label = ['w', 'x', 'y', 'z']
df7 = pd.DataFrame(d6, index = label)
df7.iloc[[0,2], [0,2]]

    a   c
w  10  10
y  50  80

In [14]:
# select the rows where the number
d7 = {'a' : [10, 40, 50, 70], 'b' : [20, 30, 10, 80], 'c' : [10, 20, 80, 50]}

df8 = pd.DataFrame(d7)
print(df8[df8['b'] > 20])

    a   b   c
1  40  30  20
3  70  80  50

In [21]:
# count the number of rows and columns of a DataFrame.
d9 = {'a' : [10, 40, 50, 70], 'b' : [20, 30, 10, 80], 'c' : [10, 20, 80, 50]}

df10 = pd.DataFrame(d9)
print(df10)
print('column : ', len(df10.axes[1]))
print('rows : ', len(df10.axes[0]))

    a   b   c
0  10  20  10
1  40  30  20
2  50  10  80
3  70  80  50
column :  3
rows :  4

In [35]:
# select the rows where the score is missing, i.e. is NaN.
d10 = {'a' : [10, 40, np.nan, 70], 'b' : [20, 30, 10, 80], 'c' : [10, np.nan, 80, 50]}

df11 = pd.DataFrame(d10)
print(df11[df11['a'].isnull()])

    a   b     c
2 NaN  10  80.0

In [42]:
# select the rows the b is between 10 and 30 (inclusive).
d11 = {'a' : [10, 40, np.nan, 70], 'b' : [20, 30, 10, 80], 'c' : [10, np.nan, 80, 50]}

df12 = pd.DataFrame(d11)
print(df12[df12['b'].between(10, 30)])

      a   b     c
0  10.0  20  10.0
1  40.0  30   NaN
2   NaN  10  80.0