In [1]:
import pandas as pd
import numpy as np

In [2]:
# create one-dimensional array
df1 = pd.Series([1, 2, 4, 8, 6, 4])
df1

0    1
1    2
2    4
3    8
4    6
5    4
dtype: int64

In [3]:
# Convert Pandas Series to Python list
df2 = pd.Series([1, 3, 6, 8, 8, 4])
print(df2)
print(df2.tolist())

0    1
1    3
2    6
3    8
4    8
5    4
dtype: int64
[1, 3, 6, 8, 8, 4]

In [4]:
# pandas series to add, substract, multiple, divide.
df3 = pd.Series([2, 4, 6, 8, 10])
df4 = pd.Series([1, 3, 5, 7, 9])

print(df3 + df4) # add
print(df3 - df4) # substract
print(df3 * df4) # multiply
print(df3 / df4) # divide

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [5]:
# compare the elements of the two Pandas Series.
df5 = pd.Series([2, 4, 6, 8, 10])
df6 = pd.Series([1, 3, 5, 7, 10])

print(df5)
print(df6)
print(df5 == df6)
print(df5 < df6)
print(df5 > df6)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
0    False
1    False
2    False
3    False
4     True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool
0     True
1     True
2     True
3     True
4    False
dtype: bool

In [6]:
# dictionary to a Pandas series.
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
df7 = pd.Series(d)
print(df7)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [7]:
# NumPy array to a Pandas series.
arr1 = np.array([7, 9, 5, 3, 4, 6])
df8 = pd.Series(arr1)
print(arr1)
print(df8)

[7 9 5 3 4 6]
0    7
1    9
2    5
3    3
4    4
5    6
dtype: int32

In [8]:
# change the data type of given a column or a Series.\
df9 = pd.Series([5, 8, 3, 7, 'python'])
df10 = pd.to_numeric(df9, errors='coerce')
df10

0    5.0
1    8.0
2    3.0
3    7.0
4    NaN
dtype: float64

In [14]:
# convert the first column of a DataFrame as a Series.
d1 = {'a' : [2, 4, 6, 8], 'b' : [1, 3, 5, 7], 'c' : [1, 2, 5, 6]}
df11 = pd.DataFrame(d1)
print(type(df11))
print(df11)

df12 = pd.Series(df11['a'])
print(type(df12))
print(df12)

<class 'pandas.core.frame.DataFrame'>
   a  b  c
0  2  1  1
1  4  3  2
2  6  5  5
3  8  7  6
<class 'pandas.core.series.Series'>
0    2
1    4
2    6
3    8
Name: a, dtype: int64

In [13]:
# convert a given Series to an array.
df13 = pd.Series([5, 7, 8, 4, 2, 9])
print(df13)

arr2 = df13.values
print(arr2)

0    5
1    7
2    8
3    4
4    2
5    9
dtype: int64
[5 7 8 4 2 9]

In [35]:
# sort a given Series.
df14 = pd.Series(['100', 'python', '300.12', '400', '200'])
print(df14)

df15 = pd.Series(df14).sort_values()
print(df15)

0       100
1    python
2    300.12
3       400
4       200
dtype: object
0       100
4       200
2    300.12
3       400
1    python
dtype: object

In [38]:
# add some data to an existing Series.
df16 = pd.Series(['100', 'python', '300.12', '400', '200'])
print(df16)

df17 = pd.concat([df16, pd.Series([500, 'java'])])
print(df17)

0       100
1    python
2    300.12
3       400
4       200
dtype: object
0       100
1    python
2    300.12
3       400
4       200
0       500
1      java
dtype: object