In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('D:\\vishal data\\csv file\\audi.csv')

In [11]:
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,A1,2017.0,12500.0,Manual,15735.0,Petrol,150.0,55.4,1.4
1,A6,2016.0,16500.0,Automatic,36203.0,Diesel,20.0,NaN,2.0
2,A1,2016.0,11000.0,Manual,NaN,Petrol,30.0,55.4,1.4
3,A4,2017.0,16800.0,Automatic,25952.0,Diesel,145.0,67.3,2.0
4,A3,2019.0,17300.0,Manual,1998.0,Petrol,145.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...
10663,A3,2020.0,16999.0,Manual,4018.0,Petrol,145.0,49.6,1.0
10664,A3,2020.0,16999.0,Manual,1978.0,Petrol,150.0,49.6,1.0
10665,A3,2020.0,17199.0,Manual,609.0,Petrol,NaN,49.6,1.0
10666,Q3,2017.0,19499.0,Automatic,8646.0,Petrol,150.0,47.9,1.4
10667,Q3,NaN,15999.0,Manual,11855.0,Petrol,150.0,47.9,1.4

In [14]:
df.

AttributeError: 'DataFrame' object has no attribute 'clean'